<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>

<style>
    body {
        font-family: 'Roboto', sans-serif;
    }

    h2 {
        text-align: center;
        font-weight: 700;
        color: #333;
        margin-bottom: 20px;
    }

    /* Existing form styles... */

    input[type="submit"] {
        background-color: #4CAF50;
        color: white;
        padding: 10px 20px;
        margin: 5px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        width: 100%;
        font-weight: 700;
        transition: background-color 0.3s ease;
    }

    input[type="submit"]:hover {
        background-color: #45a049;
    }

    a[href="/signup"] {
        display: inline-block;
        text-decoration: none;
        color: #4CAF50;
        padding: 10px;
        border-radius: 4px;
        transition: background-color 0.3s ease;
    }

    a[href="/signup"]:hover {
        background-color: #f5f5f5;
    }
</style>

<body>
    <h2>Log in</h2>
{{#if isReg}}
    <form action="/login" method="post">
        <input type="text" name="name" placeholder="Name">
        <input type="password" name="password" placeholder="Password">
        <input type="submit">
    </form>
    
     <a href="/signup">Sign up </a>
{{/if}}

{{#if SwQry}}

 <form action="/login" method="post">
        <input type="text" name="query" placeholder="запрос">
        <input type="submit">
    </form>
    {{/if}}
    
   
  
    <form id="postincart" action="/addcart" method="POST">
     <input type="hidden" id="item"  name="item">
     <input type="hidden" id="price"  name="price">
     <input type="hidden" id="market"  name="market">
    
  </form>
    
    
    {{#if show_polls}}
<ul>
  
    {{#each show_polls}}
        <li>{{this.item}} <b>{{this.price}}</b>
	<button onclick="document.getElementById('item').value = '{{this.item}}';document.getElementById('price').value = '{{this.price}}';document.getElementById('market').value = '{{this.market}}';document.getElementById('postincart').submit();">В корзину</button>
	</li>
    {{/each}}
</ul>

{{/if}}



</body>
</html>
